.todo-app {
  h1 {
    color: #ffc35a;
    text-align: center;
  }
}

.todo-wrapper {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  border-top: 1px solid grey;
  .todo-item {
    width: 50%;
    height: 200px;
    color: #ffc35a;
    background: #3c6eab;
    margin: 10px auto;
    // margin-top: 10px;
    padding: 2px;
    border: 1px solid #ffc35a;
    text-align: center;
    border-radius: 20px;
    box-shadow: 5px 10px 8px #888888;
    h2 {
      padding: 20px 0 0px 0;
      font-size: 2em;
    }
    button {
      width: 100px;
      font-size: 20px;
    }
  }
  .completed {
    text-decoration: line-through;
    color: #3c6eab;
    background: #ffc35a;
    border: 1px solid #3c6eab;
  }
  input {
    width: 30%;
    height: 35px;
    margin: 10px auto;
    border-radius: 10px;
    text-align: center;
    font-size: 1.6rem;
  }
  button {
    width: 20%;
    height: 50px;
    margin: 10px auto;
    background: #3c6eab;
    font-size: 1.6rem;
    color: #ffc35a;
    border-radius: 10px;
    box-shadow: 5px 10px 8px #888888;
  }
}
